yt-dlp
pydub
ffmpeg-python

openai-whisper
torch
torchaudio

deep-translator

langchain
langchain-core
langchain-community
langchain-mistralai
mistralai

chromadb
sentence-transformers
langchain-huggingface
huggingface-hub
tiktoken
langchain-chroma

streamlit
streamlit-extras
watchdog

reportlab
fpdf2

python-dotenv
numpy
tqdm
requests

fastapi>=0.115.0
uvicorn[standard]>=0.30.0
gunicorn>=22.0.0