yt-dlp
pydub==0.25.1
ffmpeg-python
python-3.10.13

openai-whisper
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2
torchaudio==2.1.2
numpy==1.26.4
deep-translator

langchain
langchain-core
langchain-community
langchain-mistralai
mistralai

chromadb
sentence-transformers
langchain-huggingface
huggingface-hub
tiktoken
langchain-chroma

streamlit==1.35.0
streamlit-extras
watchdog

reportlab
fpdf2

python-dotenv
tqdm
requests
